body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#word-container, #image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.word-slot {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-letter {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: grab;
}

.word-slot.shake {
    animation: shake 0.5s;
  }
  
  .word-slot.drop-zone {
    background-color: lightgray;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }
  
