@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
    --clr-nav: rgb(0, 0, 0);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--clr-bg);
    cursor: url(assets\hand.png), auto;
}

.button-container{
  flex: auto;
}

.Welcome-text{
     font-size: 20px;
     font-family: 'Press Start 2P';
     background-color: transparent;
     display: inline-block;
     text-decoration: none;
     color: whitesmoke;
     border-radius: 0.25em;
     text-align: center;
     margin-top: 100px;
     
     
     text-shadow: 
         0 0 0.125em hsl(0 0% 100%/ 0.5),
         0 0 0.9em currentColor;
     
     box-shadow: 0 0 0.5em 0 var(--clr-neon), 0 0 0.5rem 0 var (--clr-neon);
    
}
li, a, .login {
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    background-color: var(--clr-nav);
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    background-color: var(--clr-nav);
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dongle', sans-serif;
}

.nav1{
    border-bottom: 5px solid var(--clr-neon) ;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    width: 150px;
    margin-left: 20px;
    margin-top: 5px;
    background-color: transparent;
    
}


/* .nav_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

} */
.navbar .nav_links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

.nav_links li {
    display: inline-block;
    padding: 0px 15px;
    justify-content: center;
}

.nav_links li a {
    transition: all 0.1s ease 0s;
}

.nav_links li a:hover {
    color: var(--clr-neon);
    border-bottom: 5px solid var(--clr-neon) ;
    cursor: pointer;
}

.login{
    font-size: 0.9rem;
    font-family: 'Press Start 2P', cursive;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1.3em;
    border-radius: 0.25em;
    
    
    text-shadow: 
        0 0 0.125em hsl(0 0% 100%/ 0.5),
        0 0 0.45em currentColor;
    
    box-shadow: 0 0 0.5em 0 var(--clr-neon), 0 0 0.5rem 0 var (--clr-neon);
    
    position: relative;
}

.login:hover{
    background: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
}

.bottom {
    display: flex;
    overflow: hidden;
  }
  

 /* Button 1 Css  */
  .btn
 {
     font-size: 1.2rem;
     font-family: 'Press Start 2P', cursive;
     background-color: transparent;
     display: inline-block;
     cursor: pointer;
     text-decoration: none;
     color: var(--clr-neon);
     border: var(--clr-neon) 0.125em solid;
     padding: 1.0em 1.3em;
     margin-top: 80px;
     border-radius: 0.25em;
     margin-left: 170px;
     
     
     text-shadow: 
         0 0 0.125em hsl(0 0% 100%/ 0.5),
         0 0 0.45em currentColor;
     
     box-shadow: 0 0 0.5em 0 var(--clr-neon), 0 0 0.5rem 0 var (--clr-neon);
     
     position: relative;
        
 }
 
 .btn::before{
     pointer-events: none;
     content: '';
     position: absolute;
     background: var(--clr-neon);
     top: 90%;
     left: 0%;
     width: 100%;
     height: 100%;
     
     transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
     filter: blur(1em);
     opacity: 0.7;
         
 }
 
 .btn::after{
     
     content:'';
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     box-shadow: 0 0 2em 0.5em var(--clr-neon);
     opacity: 0;
     transition: opacity 100ms linear;
     
 }
 
 
 .btn:hover,
 .btn:focus
 {
     background: var(--clr-neon);
     color: var(--clr-bg);
     text-shadow: none;
     
 }
 
 .btn:hover::after{
     opacity: 1;
 }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Button 2 Css */
  .btn2
 {
     font-size: 1.2rem;
     font-family: 'Press Start 2P', cursive;
     background-color: transparent;
     display: inline-block;
     cursor: pointer;
     text-decoration: none;
     color: var(--clr-neon);
     border: var(--clr-neon) 0.125em solid;
     padding: 1.0em 1.3em;
     margin-top: 80px;
     border-radius: 0.25em;
     
     
     text-shadow: 
         0 0 0.125em hsl(0 0% 100%/ 0.5),
         0 0 0.45em currentColor;
     
     box-shadow: 0 0 0.5em 0 var(--clr-neon), 0 0 0.5rem 0 var (--clr-neon);
     
     position: relative;
        
 }
 
 .btn2::before{
     pointer-events: none;
     content: '';
     position: absolute;
     background: var(--clr-neon);
     top: 90%;
     left: 0%;
     width: 100%;
     height: 100%;
     
     transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
     filter: blur(1em);
     opacity: 0.7;
         
 }
 
 .btn2::after{
     
     content:'';
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     box-shadow: 0 0 2em 0.5em var(--clr-neon);
     opacity: 0;
     transition: opacity 100ms linear;
     
 }
 
 
 .btn2:hover,
 .btn2:focus
 {
     background: var(--clr-neon);
     color: var(--clr-bg);
     text-shadow: none;
     
 }
 
 .btn2:hover::after{
     opacity: 1;
 }


  /* Button 3 CSS */

  .btn3
  {
      font-size: 1.2rem;
      font-family: 'Press Start 2P', cursive;
      background-color: transparent;
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      color: var(--clr-neon);
      border: var(--clr-neon) 0.125em solid;
      padding: 1.0em 1.3em;
      margin-top: 50px;
      border-radius: 0.25em;
      
      
      text-shadow: 
          0 0 0.125em hsl(0 0% 100%/ 0.5),
          0 0 0.45em currentColor;
      
      box-shadow: 0 0 0.5em 0 var(--clr-neon), 0 0 0.5rem 0 var (--clr-neon);
      
      position: relative;
         
  }
  
  .btn3::before{
      pointer-events: none;
      content: '';
      position: absolute;
      background: var(--clr-neon);
      top: 90%;
      left: 0%;
      width: 100%;
      height: 100%;
      
      transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
      filter: blur(1em);
      opacity: 0.7;
          
  }
  
  .btn3::after{
      
      content:'';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: 0 0 2em 0.5em var(--clr-neon);
      opacity: 0;
      transition: opacity 100ms linear;
      
  }
  
  
  .btn3:hover,
  .btn3:focus
  {
      background: var(--clr-neon);
      color: var(--clr-bg);
      text-shadow: none;
      
  }
  
  .btn3:hover::after{
      opacity: 1;
  }


  /* Button 4 CSS */
  .btn4
 {
     font-size: 1.2rem;
     font-family: 'Press Start 2P', cursive;
     background-color: transparent;
     display: inline-block;
     cursor: pointer;
     text-decoration: none;
     color: var(--clr-neon);
     border: var(--clr-neon) 0.125em solid;
     padding: 1.0em 1.3em;
     margin-top: 50px;
     border-radius: 0.25em;
     
     
     text-shadow: 
         0 0 0.125em hsl(0 0% 100%/ 0.5),
         0 0 0.45em currentColor;
     
     box-shadow: 0 0 0.5em 0 var(--clr-neon), 0 0 0.5rem 0 var (--clr-neon);
     
     position: relative;
        
 }
 
 .btn4::before{
     pointer-events: none;
     content: '';
     position: absolute;
     background: var(--clr-neon);
     top: 90%;
     left: 0%;
     width: 100%;
     height: 100%;
     
     transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
     filter: blur(1em);
     opacity: 0.7;
         
 }
 
 .btn4::after{
     
     content:'';
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     box-shadow: 0 0 2em 0.5em var(--clr-neon);
     opacity: 0;
     transition: opacity 100ms linear;
     
 }
 
 
 .btn4:hover,
 .btn4:focus
 {
     background: var(--clr-neon);
     color: var(--clr-bg);
     text-shadow: none;
     
 }
 
 .btn4:hover::after{
     opacity: 1;
 }
  
/* Button 5 CSS */
.btn5
{
    font-size: 1.2rem;
    font-family: 'Press Start 2P', cursive;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 1.0em 1.3em;
    margin-top: 50px;
    border-radius: 0.25em;
    margin-left: 340px;
    
    
    text-shadow: 
        0 0 0.125em hsl(0 0% 100%/ 0.5),
        0 0 0.45em currentColor;
    
    box-shadow: 0 0 0.5em 0 var(--clr-neon), 0 0 0.5rem 0 var (--clr-neon);
    
    position: relative;
       
}

.btn5::before{
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 90%;
    left: 0%;
    width: 100%;
    height: 100%;
    
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
        
}

.btn5::after{
    
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    transition: opacity 100ms linear;
    
}


.btn5:hover,
.btn5:focus
{
    background: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
    
}

.btn5:hover::after{
    opacity: 1;
}

   /* .W {
    width: 70%;
    height: 70%;
    position: absolute;
    size: 2rem;
    bottom: -50px;
    left: -50px;
    top: 20px;
    right: 30px;
    transform: rotate(-25deg);
  }
  
  .E {
    width: 70%;
    height: 70%;
    top: -50px;
    left: -150px;
    transform: rotate(-30deg);
  } */
  
  /* .L {
      
    top: 0px;
    left: -200px;
    transform: rotate(-15deg);
  }
  
  .C {
    top: 50px;
    left: -150px;
    transform: rotate(0deg);
  }
  
  .O {
    top: 100px;
    left: -100px;
    transform: rotate(15deg);
  }
  
  .M {
    top: 150px;
    left: -50px;
    transform: rotate(30deg);
  }
  
  .E {
    top: 200px;
    left: 0px;
    transform: rotate(45deg);
  }
    