<!DOCTYPE html>
<html>
  <head>
    <title>BSL Handbook</title>
    <link rel="stylesheet" href="../View/css/handbook.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  </head>
  <body class="something">
    
        <!-- This is the Navbar -->
        <div class='navbar'>
            <div class="logo"><img class="logo" src="../View/assets/Hands-logos_white.png" alt="logo for Application that contains hands"></div>
            
            <nav>
                <ul class="nav_links">
                    <li><a href="HomePage.html">Home</a></li>
                    <li><a href="Levels.html">Levels</a></li>
                    <li class="nav1" ><a href="../View/Handbook.html">Sign Language Handbook</a></li>
                    <li><a href="#">Achievements</a></li>
                </ul>
            </nav>
            <a class="btm" href="../View/login.html"><button class="login">Login/Sign-Up</button></a>
        </div>
            
        
        <div class= "Welcome-text">
            <h1>Select Your Level to Get Started!</h1>
            <br>
        </div>


    <div class="title">
        <h1 class="meet">BSL Handbook</h1>
    </div>    

  <main>
    <div class="container">
      <div class="box">
        <img class="teamimg" src="../View/assets/A.png" alt="Letter A of FingerSpelling">
        <br>
        <p class="a3">A</p>
      </div>
      <div class="box">
        <img class="teamimg" src="../View/assets/B.png" alt="Letter B of FingerSpelling">
        <br>
        <p class="a3" >B</p>
      </div>
      <div class="box">
        <img class="teamimg" src="../View/assets/C.png" alt="Letter C of FingerSpelling">
        <br>
        <p class="a3">C</p>
      </div> 
      <div class="box">
        <img class="teamimg" src="../View/assets/D.png" alt="Letter D of FingerSpelling">
        <br>
        <p class="a3">D</p>
      </div> 
      <div class="box">
        <img class="teamimg" src="../View/assets/E.png" alt="Letter E of FingerSpelling">
        <br>
        <p class="a3">E</p>
      </div> 
      <div class="box">
        <img class="teamimg" src="../View/assets/F.png" alt="Letter F of FingerSpelling">
        <br>
        <p class="a3">F</p>
      </div>
    </div>

    <div class="container">
        <div class="box">
            <img class="teamimg" src="../View/assets/G.png" alt="Letter G of FingerSpelling">
            <br>
            <p class="a3">G</p>
          </div>
          <div class="box">
            <img class="teamimg" src="../View/assets/H.png" alt="Letter H of FingerSpelling">
            <br>
            <p class="a3" >H</p>
          </div>
          <div class="box">
            <img class="teamimg" src="../View/assets/I.png" alt="Letter I of FingerSpelling">
            <br>
            <p class="a3">I</p>
          </div> 
          <div class="box">
            <img class="teamimg" src="../View/assets/J.png" alt="Letter J of FingerSpelling">
            <br>
            <p class="a3">J</p>
          </div> 
          <div class="box">
            <img class="teamimg" src="../View/assets/K.png" alt="Letter K of FingerSpelling">
            <br>
            <p class="a3">K</p>
          </div> 
          <div class="box">
            <img class="teamimg" src="../View/assets/L.png" alt="Letter L of FingerSpelling">
            <br>
            <p class="a3">L</p>
          </div>
    </div>

    <div class="container">
        <div class="box">
            <img class="teamimg" src="../View/assets/M.png" alt="Letter M of FingerSpelling">
            <br>
            <p class="a3">M</p>
          </div>
          <div class="box">
            <img class="teamimg" src="../View/assets/N.png" alt="Letter N of FingerSpelling">
            <br>
            <p class="a3" >N</p>
          </div>
          <div class="box">
            <img class="teamimg" src="../View/assets/O.png" alt="Letter O of FingerSpelling">
            <br>
            <p class="a3">O</p>
          </div> 
          <div class="box">
            <img class="teamimg" src="../View/assets/P.png" alt="Letter P of FingerSpelling">
            <br>
            <p class="a3">P</p>
          </div> 
          <div class="box">
            <img class="teamimg" src="../View/assets/Q.png" alt="Letter Q of FingerSpelling">
            <br>
            <p class="a3">Q</p>
          </div> 
          <div class="box">
            <img class="teamimg" src="../View/assets/R.png" alt="Letter R of FingerSpelling">
            <br>
            <p class="a3">R</p>
          </div>
    </div>

    
    <div class="container">
        <div class="box">
            <img class="teamimg" src="../View/assets/S.png" alt="Letter S of FingerSpelling">
            <br>
            <p class="a3">S</p>
          </div>
          <div class="box">
            <img class="teamimg" src="../View/assets/T.png" alt="Letter T of FingerSpelling">
            <br>
            <p class="a3" >T</p>
          </div>
          <div class="box">
            <img class="teamimg" src="../View/assets/U.png" alt="Letter U of FingerSpelling">
            <br>
            <p class="a3">U</p>
          </div> 
          <div class="box">
            <img class="teamimg" src="../View/assets/V.png" alt="Letter V of FingerSpelling">
            <br>
            <p class="a3">V</p>
          </div> 
          <div class="box">
            <img class="teamimg" src="../View/assets/W.png" alt="Letter W of FingerSpelling">
            <br>
            <p class="a3">W</p>
          </div> 
          <div class="box">
            <img class="teamimg" src="../View/assets/X.png" alt="Letter X of FingerSpelling">
            <br>
            <p class="a3">X</p>
          </div>
    </div>

    
    <div class="container1">
        <div class="box">
            <img class="teamimg" src="../View/assets/Y.png" alt="Letter Y of FingerSpelling">
            <br>
            <p class="a3">y</p>
          </div>
          <div class="box">
            <img class="teamimg" src="../View/assets/Z.png" alt="Letter Z of FingerSpelling">
            <br>
            <p class="a3" >Z</p>
          </div>
    </div>

    <div class="container">

        <div class="start-button">
            <button class="btn" type="button" onclick="window.location.href='../View/Levels.html'">Start Practicing!</button>
          </div>              

    </div>