<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            BSL FingerSpelling!
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../View/css/home.css">
    </head>
    <body>

        <!-- This is the Navbar -->
        <div class='navbar'>
            <div class="logo"><img class="logo" src="../View/assets/Hands-logos_white.png" alt="logo for Application that contains hands"></div>
            
            <nav>
                <ul class="nav_links">
                    <li class="nav1"><a href="HomePage.html">Home</a></li>
                    <li><a href="Levels.html">Levels</a></li>
                    <li><a href="Handbook.html">Sign Language Handbook</a></li>
                    <li><a href="mediapipe.html">Achievements</a></li>
                </ul>
            </nav>
            <a class="btm" href="../View/login.html"><button class="login">Login/Sign-Up</button></a>
        </div>
            
            

        <div class="bottom" style="margin-top: 100px;">
            <img class="W" src="assets/w.png" alt="Sign Language W">
            <img class="E" src="assets/e.png" alt="Sign Language E">
            <img class="L" src="assets/l.png" alt="Sign Language L">
            <img class="C" src="assets/c.png" alt="Sign Language C">
            <img class="O" src="assets/o.png" alt="Sign Language O">
            <img class="M" src="assets/m.png" alt="Sign Language M">
            <img class="E" src="assets/e.png" alt="Sign Language E">

        </div>
        
        <div class= "Welcome-text">
            <h1>Welcome!</h1>
            <br>
            <br>
            <h2>Start your journey of learn BSL FingerSpelling</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        
        
        <div class="container">

            <div class="start-button">
                <button class="btn" type="button" onclick="window.location.href='../View/Handbook.html'">Let's get started!</button>
                <button class="btn" type="button" onclick="window.location.href='../View/Levels.html'">Learn Sign Lanuage through Games!</button>
              </div>              

        </div>


        
        
        <script src="" async defer></script>
    </body>
</html>