<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSL Words Game Level 2</title>
    <link rel="stylesheet" href="../View/css/phrases.css">
</head>
<body>

     <!-- This is the Navbar -->
     <div class='navbar'>
        <div class="logo"><img class="logo" src="../View/assets/Hands-logos_white.png" alt="logo for Application that contains hands"></div>
        
        <nav>
            <ul class="nav_links">
                <li><a href="HomePage.html">Home</a></li>
                <li class="nav1"><a href="Levels.html">Levels</a></li>
                <li><a href="Handbook.html">Sign Language Handbook</a></li>
                <li><a href="mediapipe.html">Achievements</a></li>
            </ul>
        </nav>
        <a class="btm" href="../View/login.html"><button class="login">Login/Sign-Up</button></a>
    </div>

    <div class="Welcome-text">
        <h1>BSL Words Game Level 2 </h1>
        <br>
        <p>FingerSpelling Letters will be shown one by one to form a word try guessing the word to earn a point</p>
    </div>
   
    <div class="score-text">
        <p>Your Score: <span id="score">0</span></p>
    </div>

    <div class='score-text' id="timer">Time remaining: 60 seconds</div>

    <div class="container" id="image-container"></div>
    <input type="text" id="textbox" placeholder="Write your answer Here!" disabled>
    <button  id="start-button">Start Game</button>
    <button  id="submit-button" disabled>Submit</button>
    <div class='congrats'>
        <p id="wordoftheday"></p>
    </div>
    <div class="congrats1">
        <p id="message"></p>
    </div>
    <script src="../Controller/level2.js"></script>
</body>
</html>
