<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            LEVELS!
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../View/css/levels.css">
    </head>
    <body>

        <!-- This is the Navbar -->
        <div class='navbar'>
            <div class="logo"><img class="logo" src="../View/assets/Hands-logos_white.png" alt="logo for Application that contains hands"></div>
            
            <nav>
                <ul class="nav_links">
                    <li><a href="HomePage.html">Home</a></li>
                    <li class="nav1"><a href="Levels.html">Levels</a></li>
                    <li><a href="../View/Handbook.html">Sign Language Handbook</a></li>
                    <li><a href="#">Achievements</a></li>
                </ul>
            </nav>
            <a class="btm" href="../View/login.html"><button class="login">Login/Sign-Up</button></a>
        </div>
            
        
        <div class= "Welcome-text">
            <h1>Select Your Level to Get Started!</h1>
            <br>
        </div>
        
        <div class="container">
            <div class="button-container">
                <button class="btn" type="button" onclick="window.location.href='../View/level1.html'">Level 1 Learning Letters</button>
                <button class="btn2" type="button" onclick="window.location.href='../View/level2.html'">Level 2 Forming Words</button>
            </div>

            <div>
                <button class="btn3" type="button" onclick="window.location.href='../View/Level3.html'">Level 3 Forming Phrases</button>
                <button class="btn4" type="button" onclick="window.location.href='../View/BSLTranslate.html'">Write your own words and translate to BSL</button>
            </div>

            <div>
                <button class="btn5" type="button" onclick="window.location.href='../View/HandTracking.html'">Learn through your webcam!</button>
            </div>

        </div>


        
        
        <script src="" async defer></script>
    </body>
</html>