<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSL Fingerspelling Matching Game Level 1</title>
    <link rel="stylesheet" href="../View/css/matching.css">
</head>
<body>
    <h1>BSL Fingerspelling Matching Game Level 1</h1>
    <div class="game-board" id="game-board"></div>
    <button id="start-button">Start Game</button>
    <script src="../Controller/level1.js"></script>
</body>
</html>
