<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level 1 Learning Words</title>
    <link rel="stylesheet" href="../View/css/matching.css">
    <link rel="stylesheet" href="../View/css/navbar-menu.css">
</head>
<body>

    <!-- This is the Navbar -->
    <div class='navbar'>
        <div class="logo"><img class="logo" src="../View/assets/Hands-logos_white.png" alt="logo for Application that contains hands"></div>
        <button class="menu-toggle" type="button" aria-expanded="false" aria-label="Open navigation menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        
        <nav>
            <ul class="nav_links">
                <li><a href="../index.html">Home</a></li>
                <li class="nav1"><a href="Levels.html">Levels</a></li>
                <li><a href="Handbook.html">Sign Language Handbook</a></li>
            </ul>
        </nav>
    </div>

    <div class="Welcome-text">
        <h1>BSL FingerSpelling Letter Matching Game</h1>
        <br>
        <br>
        <p>Match images with letters, turn matched items green, progress to next round upon completion.</p>
    </div>
    
    <div class="container">
        <div class= 'Welcome-text' id="score">Score: 0</div>
        <div class="game-board" id="game-board">
            <div class="left-side" id="left-side"></div>
            <div class="right-side" id="right-side"></div>
        </div>
        <div class="Welcome-text" id="timer">Time remaining: 90 seconds</div>
        <button class="btn" id="start-button">Start Game</button>
    </div>
    <script src="../Controller/navbar-menu.js"></script>
    <script src="../Controller/level1.js"></script>
</body>
</html>
