<!DOCTYPE html>
<html>
  <head>
    <title>Mediapipe Hands API Example</title>
    <style>
      #video-container {
        width: 640px;
        height: 480px;
      }
      #video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div id="video-container">
      <video id="video" playsinline autoplay></video>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands@0.1.1/dist/hands.min.js"></script>
  <script>
    const video = document.getElementById("video");
    const videoContainer = document.getElementById("video-container");

    async function runMediapipeHands() {
      const stream = await navigator.mediaDevices.getUserMedia({
        video: {
          facingMode: "user",
          // transform: scaleX(-1)
        },
      });
      video.srcObject = stream;

      const config = new handpose.AnnotatorConfig();
      const context = new handpose.AnnotatorContext();
      context.bindCanvas(videoContainer);
      context.ensureCompatibility();

      handpose.load().then(async (handposeModel) => {
        console.log("Mediapipe Hands API loaded");
        await context.initialize(handposeModel, config);
        context.start();
      });
    }

    runMediapipeHands();
  </script>
</html>
